@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css";
@import "react-toastify/dist/ReactToastify.css";

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: black !important;
}

.nav-link {
  color: whitesmoke !important;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

/* PageNotFound styles */
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;   /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  text-align: center;
  background-color: #f7f7f7; /* Light background for the error page */
  color: #333;
}

.page-not-found .icon-container {
  margin-bottom: 20px;
}

.page-not-found i {
  color: #e74c3c;  /* Red color for the warning icon */
}

.page-not-found h1 {
  font-size: 3rem;
  margin: 10px 0;
}

.page-not-found p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 20px;
}

.page-not-found button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page-not-found button:hover {
  background-color: #0056b3;
}

